li.row
    .projectWrapper
        .col-md-4
            a.companyLink(href="https://www.ameriprise.com/default.asp")
                img(src="images/Ameriprise.jpg",alt="Ameriprise Financial")
        .col-md-8
            p
                a(href="http://www.ameriprise.com").
                    Ameriprise Financial
                |&nbsp;is one of the leading diversified financial
                | services companies in the U.S.
            p.
                I lead the development effort to redesign the transfer money experience.  I added
                form validation to the pages that create and edit money transfers.  I refactored the HTML and CSS to
                be more responsive for mobile devices such as the iPad.  I built an AJAX modal dialog for the user
                agreement acceptance.  I also built an AJAX dialog for a quick transfer widget.  The widget contains
                a three step wizard to create a one-time transfer from the user's account details page.  Finally, I
                added a new table to allow the user to view his or her scheduled transfers when creating a new transfer.