li.row
    .projectWrapper
        .col-md-4
            a.companyLink(href="https://www.columbiamanagement.com/")
                img(src="images/logo-cm.gif",alt="Columbia Management")
        .col-md-8
            p.
                Columbia Management is one of the nation’s largest asset managers. I built a number of enhancements and fixed bugs across their website.  I built
                a jQuery plugin to provide a fixed table header when scrolling down a large table.  The table header
                plugin is implemented on several pages of the website including the
                <a href="https://performance.columbiamanagement.com/web/columbia/products-performance/mutual-funds">
                    mutual funds page
                </a>
                and <a href="https://performance.columbiamanagement.com/web/columbia/products-performance/variable-products">
                variable products page
                </a>.
                I refactored the shopping cart that is displayed in the main heading to use a cross-domain JSONP service.
                Finally, I built a Liferay portlet to provide a web interface for administrators to clear server caches
                on a single node or across the cluster.