li.row
    .projectWrapper
        .col-md-4
            a.companyLink(href="http://www.dell.com/")
                img(src="images/dell-logo.jpg",alt="Dell logo")
        .col-md-8
            p.
                <a href="http://www.dell.com/">Dell</a> is a computer technology company and one of the largest
                technological corporations in the world.
            p.
                At Dell, I worked on an internal e-commerce sales application.
            p.
                Using .Net and Angular.js, I helped build features for carts, quotes, product searching and configuring
                and payment collection.
            