
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='TomPiere.docx')
            i.glyphicon.glyphicon-download-alt
            | Download my resume
    .col-md-6
        a.btn.btn-primary.btn-lg(href='mailto:tpiere@gmail.com')
            i.glyphicon.glyphicon-envelope
            | Email me
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='technologies.html')
            i.glyphicon.glyphicon-education
            | See what I know
    .col-md-6
        a.btn.btn-primary.btn-lg(href='projects.html')
            i.glyphicon.glyphicon-cog
            | See what I've worked on
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='about.html')
            i.glyphicon.glyphicon-user
            | Learn more about me
