
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='Piere, Tom resume.docx')
            i.fa.fa-download
            | Download my resume
    .col-md-6
        a.btn.btn-primary.btn-lg(href='mailto:tpiere@gmail.com')
            i.fa.fa-envelope
            | Email me
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='technologies.html')
            i.fa.fa-code
            | See what I know
    .col-md-6
        a.btn.btn-primary.btn-lg(href='projects.html')
            i.fa.fa-cogs
            | See what I've worked on
.row
    .col-md-6
        a.btn.btn-primary.btn-lg(href='about.html')
            i.fa.fa-smile-o
            | Learn more about me
