li.row
    .projectWrapper
        .col-md-4
            a.companyLink(href="https://ghealthcare.anthem.com/cp/web/gcaredashboard/home")
                img(src="images/google_logo2.png",alt="Google Healthcare powered by Anthem")
        .col-md-8
            p.
                <a href="http://www.Anthem.com/">Anthem</a> is a managed health care company.  It is the largest
                company in the <a href="http://www.bcbs.com/">Blue Cross Blue Sheild Association</a>.
            p.
                At Anthem, I helped build a custom portal for Google employees to access their health insurance.
                <a href="https://ghealthcare.anthem.com/cp/web/gcaredashboard/home">gHealthcare</a> is built on the
                Liferay platform, and I focused on front-end engineering for the site.
            p.
                I helped build many features across the application including the claims display, registration UI,
                online chat, customer service callback, and provider finder search.
            p.
                I worked on Spring MVC portlets that consume SOAP web services, and I focused on the front-end
                engineering to manage HTML, CSS, JavaScript, images and other assets.  I also worked extensively
                with the Liferay content management system to determine strategies for internationalization and
                content updates.
