li.row
    .projectWrapper
        .col-md-4
            a.companyLink(href="http://web2.westlaw.com/signon/default.wl?fn=_top&newdoor=true&rs=WLW14%2E01&vr=2%2E0")
                img(src="images/westlawlogo.jpg",alt="Westlaw")
        .col-md-8.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo quam nibh, vitae facilisis lacus bibendum non. Ut vulputate neque laoreet nibh imperdiet euismod. Fusce non posuere leo. Proin imperdiet urna in tellus venenatis, facilisis porta nisi cursus. Curabitur tincidunt turpis eget cursus faucibus. Cras nec metus nibh. Praesent consectetur laoreet arcu, congue ornare risus venenatis nec. Morbi feugiat, lorem vehicula posuere bibendum, nibh dui bibendum elit, at pretium lorem dolor in nibh. Cras id mauris pharetra, vehicula massa in, laoreet erat. Nullam tempus mattis eleifend. Maecenas mauris orci, interdum et mollis et, ullamcorper ac est.
            Praesent venenatis dui in tellus euismod lacinia. Suspendisse ac massa vulputate, imperdiet nunc at, imperdiet dui. Ut nec leo laoreet, congue odio vitae, rhoncus eros. Nam sodales tincidunt lectus sed placerat. Phasellus at consectetur mi. Cras ornare sapien vel justo ornare commodo in gravida felis. Sed laoreet turpis vel lobortis tempor. Etiam pharetra magna vel viverra varius. Ut pellentesque mi commodo, vestibulum dui nec, scelerisque lacus. Proin aliquet nunc sit amet magna commodo convallis.