doctype 5
html.no-js(lang='en')
    head
        include modules/head
        title About
    body
        .container
            include modules/header
            .aboutWrapper
                img.portrait(src='images/portait-sketch.jpg')
                p.aboutText.
                    Hello!  I'm a friendly web developer living in Austin, Texas.
                    I've been working as a software developer and front-end engineer
                    for the past 8 years since graduating from college.
                p.
                    I enjoy working with user experience and graphic designers to build
                    high quality interfaces on the web.
                p.
                    I care about developing quality, well-tested code that is loosely coupled and
                    maintainable.  Those are lofty goals for any project, but I am constantly trying
                    to find ways to write better code.
                p
                    |Outside work, I enjoy music, sports, movies, travelling, and learning about anything
                    |interesting.  I also love coffee, beer, and whiskey. 
                    i.glyphicon.glyphicon-thumbs-up
        include modules/scripts