doctype 5
html.no-js(lang='en')
    head
        include modules/head
        title Home
    body
        .container
            include modules/header
            include modules/home
        include modules/scripts