doctype 5
html.no-js(lang='en')
    head
        include modules/head
        title Projects
    body
        .container
            include modules/header
            ol.projectList
                include modules/wellpoint
                include modules/ameriprise
                include modules/columbia-management
                include modules/wallstreet-journal
                include modules/westlaw-next
                include modules/westlaw
        include modules/scripts