doctype 5
html.no-js(lang='en')
    head
        include modules/head
        title Technologies
    body
        .container
            include modules/header
            p.technologyIntro
                |Below are some of languages and technologies I have experience with.  The star rating denotes my&nbsp;
                strong
                    |relative strength
                |&nbsp;with the language/technology.  The maximum is 4 stars which indicates
                |I have the most experience and comfort level with that particular language/technology.
            ol.technologyList
                li.row
                    .col-md-3 JavaScript
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 CSS
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 HTML
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 jQuery
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Java
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 C#
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 XML
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 JSON
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 JUnit
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 EasyMock
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 QUnit
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 JQuery-UI
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 XSLT
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Object Oriented Design
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 NUnit
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Clearcase
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Subversion
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Team Foundation Server
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Git
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Mercurial
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Ant
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Maven
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Spring Framework
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 .Net Framework
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Wordpress
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Liferay
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 eclipse IDE
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Visual Studio IDE
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Webstorm/PhpStorm IDE
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Objective-C
                        br
                        i.fa.fa-star
                    .col-md-3 Node.js
                        br
                        i.fa.fa-star
                    .col-md-3 SASS/LESS
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 Model View Controller
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Design Patterns
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Regular Expressions
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 ActionScript
                        br
                        i.fa.fa-star
                li.row
                    .col-md-3 PhP
                        br
                        i.fa.fa-star
                    .col-md-3 Python
                        br
                        i.fa.fa-star
                    .col-md-3 Websphere
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 Tomcat
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                li.row
                    .col-md-3 IIS
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 SQL
                        br
                        i.fa.fa-star
                    .col-md-3 SOAP
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 REST services
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star

        include modules/scripts