doctype 5
html.no-js(lang='en')
    head
        include modules/head
    body
        .container
            include modules/header
            p.technologyIntro
                |Below is a list of languages and technologies I have experience with.  The star rating denotes my&nbsp;
                strong
                    |relative strength
                |&nbsp;with the language/technology.  The maximum is 4 stars which indicates
                |I have the most experience and comfort level with that particular language/technology.
            ol.technologyList
                li.row
                    .col-md-3 JavaScript
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 CSS
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 HTML
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    .col-md-3 jQuery
                        br
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star

        include modules/scripts